/* ==================== RESPONSIVE DESIGN ==================== */

/* For large devices */
@media screen and (max-width: 1024px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .hero-data {
    margin-bottom: 3rem;
  }
  
  .hero-buttons {
    justify-content: center;
  }
  
  .promo-banner {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    font-size: var(--small-font-size);
  }
  
  .section {
    padding: 4rem 0 2rem;
  }

  /* Navbar */
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    padding: 4rem 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: .4s;
    z-index: var(--z-fixed);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show-menu {
    top: 0;
  }

  .nav-list {
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }

  .nav-close, .nav-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
  }

  .nav-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .nav-btn {
    display: none; /* Hide button on mobile navbar to save space, user can order in menu section */
  }

  /* Typography */
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
  }

  /* Grids */
  .features,
  .category-grid,
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-grid,
  .contact-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .best-seller-container,
  .steps-grid {
    grid-template-columns: 1fr;
  }
  
  .best-img-container img {
    height: 200px;
  }

  .contact-buttons {
    justify-content: center;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* For small devices */
@media screen and (max-width: 480px) {
  .features,
  .category-grid,
  .menu-grid {
    grid-template-columns: 1fr;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-img {
    width: 100%;
    max-width: 300px;
  }

  .promo-title {
    font-size: 1.5rem;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
